<ion-header>
  <ion-toolbar>
    <ion-button
      aria-label="delete button"
      slot="start"
      class="invisible ion-margin"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-title class="lg:relative lg:left-4 ion-text-center">
      Task Manager
    </ion-title>
    <ion-button
      aria-label="information button"
      slot="end"
      id="info-alert"
      color="primary"
      class="ion-margin w-20"
    >
      <ion-icon name="help-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
    src="assets/background-image.svg"
    class="absolute bottom-10 right-2 opacity-15"
    alt="soft background image of a girl and sunflowers"
  />

  @if (!userId() && !loading()) {
  <p class="m-4 float-right bg-white p-2 shadow rounded-lg">
    <strong>Offline mode</strong>
  </p>
  } @if (!userId() && !loading()) {

  <p class="m-4 font-bold">Upload tasks</p>

  <ion-button
    aria-label="upload button"
    color="primary"
    class="m-4"
    (click)="upload()"
  >
    <ion-icon name="cloud-upload"></ion-icon>
  </ion-button>

  @if (messageUpload() && !loading()) {

  <div class="p-8">
    <strong class="text-red-600">{{messageUpload()}}</strong>
  </div>
  } } @if (loading()) {
  <ion-spinner
    aria-label="loading spinner"
    class="p-6"
    name="crescent"
  ></ion-spinner>

  } @if (userId() && !loading()) {

  <div
    class="m-4 bg-white p-2 shadow rounded-lg float-right flex flex-col items-center"
  >
    <p>
      <strong>Your user ID : {{userId()}}</strong>
    </p>
    <ion-button
      aria-label="offline button"
      color="primary"
      class="m-4"
      (click)="offlineMode()"
    >
      <ion-icon name="cloud-offline"></ion-icon>
    </ion-button>
  </div>

  }

  <p class="m-4 font-bold">
    {{!userId() ? 'Download tasks' : 'Change User ID'}}
  </p>

  <ion-button
    aria-label="download button"
    color="primary"
    class="m-4"
    id="download-alert"
  >
    <ion-icon name="cloud-download"></ion-icon>
  </ion-button>

  @switch (messageDownload()) { @case ('success') {
  <div class="p-4">
    <strong class="text-green-700"> Tasks downloaded correctly! </strong>
  </div>
  } @case ('not found') {
  <div class="p-4">
    <strong class="text-red-700"> User ID doesn't exist </strong>
  </div>
  } @case ('error') {
  <div class="p-4">
    <strong class="text-red-700"> Server error, please try again </strong>
  </div>
  } }

  <ion-alert
    trigger="download-alert"
    header="Import tasks"
    [message]="!userId() ? alertMessages.DownloadAlert: '' "
    [buttons]="alertButtonsDownload"
    [inputs]="alertInputs"
  ></ion-alert>

  <ion-alert
    trigger="info-alert"
    header="Information"
    [message]="alertMessages.InfoAlert"
    [buttons]="alertButtonsInfo"
  ></ion-alert>

  @if (userId()) {

  <p class="m-4 font-bold">Delete your User ID</p>

  <ion-button
    aria-label="delete button"
    color="danger"
    class="m-4"
    id="delete-user-alert"
  >
    <ion-icon name="trash"></ion-icon>
  </ion-button>

  <ion-alert
    trigger="delete-user-alert"
    header="Delete User ID"
    [message]="alertMessages.DeleteUserAlert"
    [buttons]="alertButtonsDelete"
  ></ion-alert>

  }
</ion-content>
