<ion-header>
  <ion-toolbar class="lg:py-4">
    <ion-button
      aria-label="delete button"
      slot="start"
      class="invisible ion-margin"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-title
      routerLink="/"
      class="lg:relative lg:left-4 ion-text-center cursor-pointer hover:text-green-700 lg:text-3xl"
    >
      Task Manager
    </ion-title>
    <ion-button
      aria-label="information button"
      slot="end"
      id="info-alert"
      color="primary"
      class="ion-margin w-20 lg:text-xl"
    >
      <ion-icon name="help-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
    src="assets/background-image.svg"
    class="absolute bottom-10 right-2 opacity-15"
    alt="soft background image of a girl and sunflowers"
  />

  @if (!userId() && !loading()) {
  <p class="m-4 float-right bg-white p-2 shadow rounded-lg lg:text-2xl">
    <strong>Offline mode</strong>
  </p>
  } @if (!userId() && !loading()) {

  <p class="m-4 font-bold lg:text-2xl">Upload tasks</p>

  <ion-button
    aria-label="upload button"
    color="primary"
    class="mx-4 mt-0 mb-4 lg:text-xl"
    (click)="uploadTasks()"
  >
    <ion-icon name="cloud-upload"></ion-icon>
  </ion-button>

  } @if (loading()) {
  <ion-spinner
    aria-label="loading spinner"
    class="p-6 m-6"
    name="crescent"
  ></ion-spinner>

  } @if (userId() && !loading()) {

  <div
    class="m-4 bg-white p-2 shadow rounded-lg float-right flex flex-col items-center animate-fade animate-duration-300"
  >
    <p class="lg:text-2xl lg:mx-2">
      <strong>User ID : {{userId()}}</strong>
    </p>
    <ion-button
      aria-label="offline button"
      color="primary"
      class="m-4 lg:text-xl"
      (click)="activateOfflineMode()"
      matTooltip="Go offline"
    >
      <ion-icon name="cloud-offline"></ion-icon>
    </ion-button>
  </div>

  }

  <p class="m-4 font-bold lg:text-2xl">
    {{!userId() ? 'Download tasks' : 'Change User ID'}}
  </p>

  <ion-button
    aria-label="download button"
    color="primary"
    class="mx-4 mt-0 mb-4 lg:text-xl"
    id="download-alert"
  >
    <ion-icon name="cloud-download"></ion-icon>
  </ion-button>

  <ion-alert
    trigger="download-alert"
    header="Import tasks"
    [message]="!userId() ? alertMessages.DownloadAlert: '' "
    [buttons]="alertButtonsDownload"
    [inputs]="alertInputs"
  ></ion-alert>

  <ion-alert
    trigger="info-alert"
    header="Information"
    [message]="alertMessages.InfoAlert"
    [buttons]="alertButtonsInfo"
  ></ion-alert>

  @if (userId()) {

  <p class="m-4 font-bold lg:text-2xl">Delete User ID</p>

  <ion-button
    aria-label="delete button"
    color="danger"
    class="mx-4 mt-0 lg:text-xl"
    id="delete-user-alert"
  >
    <ion-icon name="trash"></ion-icon>
  </ion-button>

  <ion-alert
    trigger="delete-user-alert"
    header="Delete User ID"
    [message]="alertMessages.DeleteUserAlert"
    [buttons]="alertButtonsDelete"
  ></ion-alert>

  }
</ion-content>
