:root {
  --ion-color-primary: #6DA34D;
  --ion-color-primary-rgb: 109, 163, 77;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #58853D;
  --ion-color-primary-tint: #85B96A;

  --ion-background-color: #FAF9F6;
  --ion-tab-bar-background: #f8f8f8;
  --ion-toolbar-background: #87CBB9;
  --ion-toolbar-color: #ffffff;
}

.dark-theme {
  --ion-color-primary: #2F5233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-tint: #4F7A4B;
  --ion-color-primary-shade: #1E3521;

  --ion-background-color: #101010;
  --ion-toolbar-background: #355070;
  --ion-text-color: #E8E6E3;
}
