:root {
  --ion-color-primary: #006600;
  --ion-color-primary-rgb: 0, 102, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005a00;
  --ion-color-primary-tint: #1a751a;

  --ion-background-color: #f7f4ef;
  --ion-tab-bar-background: #f8f8f8;
  --ion-toolbar-background: #c2965d;
  --ion-toolbar-color: white;
}

.dark-theme {
  --ion-color-primary: #141d6d;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-tint: #2b2b2b;
  --ion-color-primary-shade: #171717;

  --ion-background-color: #121212;
  --ion-toolbar-background: #795526;
  --ion-text-color: #ffffff;
}
