.app-tab-bar {
  --background: var(--ion-tab-bar-background);
  --color: var(--ion-text-color-secondary);
  --color-selected: var(--ion-color-primary);
  border-top: 1px solid var(--ion-border-color);
}

ion-tab-button {
  --color: var(--ion-text-color-secondary);
  --color-selected: var(--ion-color-primary);
}

:host-context(.dark-theme) {
  .app-tab-bar,
  ion-tab-button {
    --color: #e8edf5;
    --color-selected: var(--ion-color-primary-tint);
  }

  ion-tab-button:not(.tab-selected) {
    color: #e8edf5;
    opacity: 1;

    ion-icon,
    ion-label {
      color: #e8edf5;
      opacity: 1;
    }
  }
}
